body {
  background-image: url('../img/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}

.main-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

.description {
  width: 100%;
  text-align: center;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif';
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.description-bold {
  font-weight: 400;
}

.logo {
  width: 100%;
  text-align: center;
  font-family: 'Fira Sans';
  font-weight: 600;
  font-size: 82px;
  font-style: italic;
  letter-spacing: -2px;
}

.comming {
  width: 100%;
  text-align: center;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif';
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  bottom: 120px;
}